/* GLOBAL */

body {
    background-color:#231f37;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 200px 0px 200px;
    height: 65px;
    min-width: 550px;
    column-gap: 25px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
    flex-shrink: 0;
}

.header-links {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    flex-shrink: 0;
    gap: 20px;
    font-size: 18px;
    font-weight: 300;
    color: #F9FAF8;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    color: #F9FAF8;
    text-decoration: none;
}

/* HERO UNIT */

.hero-unit {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: flex-start;
    margin: 35px 200px;
    gap: 50px;
}

.hero-left-content {
    flex: 1 1 350px;    /* stretch - will grow over 350px width, shrink will - reduce under 350px width*/
    max-width: 550px;   /* max stretch limit */
    min-width: 350px;   /* min size limit */
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.hero-statement {
    flex: 1 1 0;
    max-width: 350px;
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8
}

.hero-description {
    flex: 1;
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
}

.hero-button {
    font-size: 18px;
    font-weight: 700;
    color: #E5E7EB;
    background: #4838f6;
    border-radius: 8px;
    border: none;
    padding: 7px 30px;
    margin: 0px auto 0px 0px;
}

.hero-image {
    display: flex;
    width: auto;
    height: 225px;
    background: #747476;
    color: #E5E7EB;
    border-radius: 8px;
}
