/* GLOBAL */

body {
    background-color:#2c1c06;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    /* max-width: 1600px; */
}


/* HEADER */

.header {
    /* border:1px solid white; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 200px 50px 200px;
    height: 60px;
    min-width: 450px;
    column-gap: 25px;
}

.header-logo {
    /* border: 1px solid white; */
    color: #f2004d;
    font-size: 24px;
    font-family: 'Yuji Syuku', serif;
    font-weight: 300;
    flex-shrink: 0;
    padding-bottom: 5px;
}

.header-links {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    flex-shrink: 0;
    gap: 20px;
    font-size: 14px;
    font-weight: 300;
    padding-left: 3px;
    color: #ffd39a;
}

ul {
    padding: 0;
    margin: 0;
}

.header ul li a {
    text-decoration: none;
    color: #ffa32a;
}


/* HERO UNIT */

.hero-unit {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    justify-items: center;
    margin: 50px 200px 100px;
    gap: 25px;
}

.hero-left-content {
    /* border: 1px solid white; */
    flex: 1 1 250px;    /* stretch - will grow over 350px width, shrink will - reduce under 250px width*/
    max-width: 550px;   /* max stretch limit */
    min-width: 450px;   /* min size limit */
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.hero-statement {
    /* border: 1px solid white; */
    font-family: Romanesco, 'Times New Roman', Times, serif; 
    font-size: 80px;
    color: #ffa32a;
}

.hero-description {
    /* border: 1px solid white; */
    flex: 1;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    color: #ffa32a;
}

.hero-button {
    font-size: 18px;
    font-weight: 700;
    color: #E5E7EB;
    background: #39475b;
    border-radius: 8px;
    border: none;
    padding: 7px 30px;
    margin: 0px auto 0px 0px;
}

.hero-image {
    display: flex;
    width: 450px;
    height: auto;
    background: #747476;
    color: #E5E7EB;
    border-radius: 8px;
    border: 1px solid #39475b;
}


/* INFORMATION UNIT */

.information-unit {
    /* border: 2px solid rgb(255, 204, 0); */
    padding: 50px 200px 100px;
    min-width: 450px;
    background:#875715;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.information-header {
    /* border: 1px solid rgb(0, 121, 18); */
    /* margin: 25px; */
    min-width: 500px;
    font-family: Romanesco, 'Times New Roman', Times, serif; 
    color: #ffd39a;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.information-content {
    /* border: 1px solid rgb(0, 121, 18); */
    margin: 50px 200px 0px 200px;
    min-width: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
}

.information-image {
    /* border:3px solid #3200a7; */
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    border: 1px solid #39475b;
}

.information-description {
    /* border:1px solid green; */
    text-align: center;
    color: #ffd39a;
}

/* QUOTE UNIT */

.quote-unit {
    padding: 150px 200px 150px;
    background:#a78049;
    display: flex;
    justify-content: center;
}

.quote-content {
    max-width: 900px;
}

.quote-quote {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    color: #39475b;
}

.quote-author {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    margin-top: 10px;
}

.quote-author a {
    /* text-decoration: none; */
    color: #39475b;
}